.principal {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: justify;
    hyphens: auto;
    width: 70%;
}
header {
    height: 90px;
    width: 100%;
    background-color: skyblue;
}
.lateral {
    max-height: 65%;
    width: 30%;
    background-color: green;
    padding-left: 3%;
}
.body {
    display: flex;
}
.textoHeader {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding-top: 30px;
    justify-content: space-between;
    display: flex;
}
.cabecalho {
    height: 90px;
    width: 100%;
    background-color: lightpink;
}
.textoCabecalho {
    text-align: center;
    padding-top: 30px;
}
.esquerda {
    display: flex;
    gap: 20px;
}
